.container {
		
		margin: 100px auto;
			max-width: 480px;
				
		}

		select,input {
				width: 60%;
					padding: 2% 0;
						margin: 10px 20px;
							
					}
					input {
						  margin-left: 25px;
					  }

					  label {
						    
						  	font-size: 16px;
							  margin-left: 10px ;
							    
						  }

						  #submit {
							  	width: 50%;
									margin-left: 25%;
										padding: 1% 0;
											background-color: #85D2E0;
												color: white;
													border: 1px solid black;
														border-radius: 2px;

													}
